* { margin: 0; padding: 0; }
 .body {
    padding: 0px;
    overflow: auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.release_status table, th, td{
    border: 1px solid;
    width: 100vh;
}

.hidden_table{
    border: 0px solid white;
}

